.feature-gradient {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(81,0,150,1) 9.09%, rgba(114,2,243,1) 18.18%, rgba(140,7,243,1) 27.27%, rgba(161,16,150,1) 36.36%, rgba(180,32,0,1) 45.45%, rgba(198,55,0,1) 54.54%, rgba(213,87,0,1) 63.63%, rgba(228,131,0,1) 72.72%, rgba(242,186,0,1) 81.81%, rgba(255,255,0,1) 90.9%, rgba(255,255,255,1) 100%);
}

.cover-video {
    object-fit: cover;
    min-height: 100%;
}

.feature-background {
    background-image: url("/assets/landing/products/pilot_project.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(10px) opacity(0.4);
    -moz-filter: blur(10px) opacity(0.4);
    -o-filter: blur(10px) opacity(0.4);
    -ms-filter: blur(10px) opacity(0.4);
    filter: blur(10px) opacity(0.4);
}

.contact-background {
    background-image: url("/assets/contact/contact.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: inherit;
    -webkit-filter: blur(10px) opacity(0.4);
    -moz-filter: blur(10px) opacity(0.4);
    -o-filter: blur(10px) opacity(0.4);
    -ms-filter: blur(10px) opacity(0.4);
    filter: blur(10px) opacity(0.4);
}

.border-gradient {
    border: 1px;
}

.shadow-leam {
    box-shadow: 10px -10px 5px rgba(255,255,0,0.5), 20px -20px 5px rgba(213,87,0,0.5), 30px -30px 5px rgba(140,7,243,0.5);
}

.image-cover {
    object-fit: cover;
}
